div {
    display: flex;
}

.container {
    height: 512px;
    width: 512px;
    flex-wrap: wrap;
    background-color: black;
}



.grid {
    flex: 1 1 auto;
    height: 128px;
    width: 128px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}